<body class="container">

<h1 class="text-center">Pokemon</h1>
<div class="d-flex mt-3">
  <div class="d-flex align-items-center flex-column">
    <div class="d-flex flex-column" *ngFor="let oneType of allTypes">
      <button class="btn" (click)="setTypes(oneType)">{{oneType}}</button>
    </div>
  </div>


  <div>
    <div class="d-flex justify-content-around">
      <button class="btn btn-danger" (click)="isDescending = !isDescending">Change Sorting(A-Z/Z-A)</button>
      <button class="btn btn-warning" (click)= "filter = ''">All</button>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
      <div class="d-flex card w-25 w-auto m-1" *ngFor="let pokemon of pokemons">
        <div class="">
          <div class="card-body" >
            <h5>{{pokemon.id}} | {{pokemon.name.english}}</h5>
            <p>Type:
              <span>{{pokemon.type}}</span>
            </p>
            <p class="d-flex flex-column">Info:
              <span>HP: {{pokemon.base.HP}}</span>
              <span>Attack: {{pokemon.base.Attack}}</span>
              <span>Defense: {{pokemon.base.Defense}}</span>
              <span>Speed: {{pokemon.base.Speed}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-row flex-wrap">
  <div class="d-flex flex-row" *ngFor="let RightNowPage of array">
    <button class="btn" (click)="page = RightNowPage">{{RightNowPage}}</button>
  </div>
</div>











</body>
